<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Détails de l'emploi</span>
    <span class="spacer"></span> <!-- Ajouter un espace flexible -->
    <!-- Icône de déconnexion -->
    <button mat-icon-button aria-label="Logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container mt-5">
  <div class="mat-elevation-z4 job-details-container">
    <mat-card>
      <mat-card-header>
        <div class="header-content">
          <mat-card-title class="job-title">{{ job?.title }}</mat-card-title>
          <mat-card-subtitle class="publish-date">Publiée le : {{ job?.createdAt | date: 'longDate' }}</mat-card-subtitle>
        </div>
      </mat-card-header>
      <mat-card-content>
        <!-- Nouveau Titre -->
        <h2>Description du poste :</h2>
        <div class="job-section">
          <mat-card-subtitle>Description</mat-card-subtitle>
          <p>{{ job?.description }}</p>
        </div>
        <div class="job-section">
          <mat-card-subtitle>Votre année d'expérience nécessaire</mat-card-subtitle>
          <p>{{ job?.yearsOfExperience }}</p>
        </div>
        <div class="job-section">
          <mat-card-subtitle>Langues exigées</mat-card-subtitle>
          <p>{{ job?.languages }}</p>
        </div>
        <div class="job-section">
          <mat-card-subtitle>Niveau d'éducation nécessaire</mat-card-subtitle>
          <p>{{ job?.educationLevel }}</p>
        </div>
        <div class="job-section">
          <mat-card-subtitle>Date d'expiration</mat-card-subtitle>
          <p>{{ job?.expirationDate | date }}</p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="apply()">Je suis intéressé</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
