<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <title>Centered Wrapper</title>
</head>
<body>
    <div class="login-page">
    <div class="form">
        <form [formGroup]="form">
            <h2>Login</h2>
        <!-- <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button> -->
        <p class="message">Already registered? <a href="#">Sign In</a></p>
        <input id="email" type="email" placeholder="email" formControlName="email" />

        <!-- <input type="text" placeholder="username"/> -->
        <input id="password" type="password" placeholder="password" formControlName="password" />
        <!-- <input type="password" placeholder="password"/> -->
        <button type="submit" (click)="login()">login</button>
      </form>
    </div>
  </div>
</body>
</html>