<mat-card class="success-card">
    <mat-card-header>
      <mat-card-title>🎉 Postulation Réussie !</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p><mat-icon color="primary">email</mat-icon> <strong>Merci pour votre candidature !</strong></p>
      <p>Votre demande a été reçue avec succès. Nous vous enverrons un email pour organiser un entretien. Veuillez vérifier votre boîte de réception dans les prochains jours.</p>
      <p><mat-icon color="accent">info</mat-icon> Si vous avez des questions, n'hésitez pas à nous contacter à <a href="mailto:support&#64;exemple.com">https://www.qualipro-qms.com/</a>.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="logoutAndRedirect()">Retour à l'accueil</button>
    </mat-card-actions>
  </mat-card>
  