<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">QualiPro Recruitment</h1>
    <section>
      <div>
      <div class="card flex justify-content-center gap-2">
    <a routerLink="/auth/pages/sign-up-admin" class="p-button font-bold custom-button">
        Inscription
    </a>
    <a routerLink="/auth/pages/sign-in-admin" class="p-button font-bold custom-button">
        Connexion
    </a>
</div>
  </div>
    <!-- <p-button  label="Add" /> -->
    </section>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        @for (nav of sidenavMenuItems; track nav) {
        <a mat-list-item routerLink="." [routerLink]="nav.route">{{
          nav.name
        }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
