<!-- //card 1 -->

<div style="width: 100%; display: flex; justify-content: center; align-items: center;">

    <div style="display: flex; flex-direction: column; width: 100%; justify-content: center; align-items: center;">
        <h1 style="text-align: left; font-size: 24px;">Offres d'emploi à la une</h1>

        <div class="article-wrapper" style="width: 60%; display: flex; justify-content: center; align-items: center;">
            <article>
              <!-- <div class="article-image-container">
                <img src="https://img.freepik.com/free-vector/newspaper-concept-illustration_114360-22666.jpg?w=826" alt="Article Image">
              </div> -->
              <div class="content-container">
                <h3 class="article-title">Article Title</h3>
                <p class="article-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <button class="read-more-btn">Read More</button>
              </div>
            </article>
          </div>
    
          <div class="article-wrapper" style="width: 60%; display: flex; justify-content: center; align-items: center;">
            <article>
              <!-- <div class="article-image-container">
                <img src="https://img.freepik.com/free-vector/newspaper-concept-illustration_114360-22666.jpg?w=826" alt="Article Image">
              </div> -->
              <div class="content-container">
                <h3 class="article-title">Article Title</h3>
                <p class="article-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                <button class="read-more-btn">Read More</button>
              </div>
            </article>
          </div>
        </div>
</div>

<!-- //card 2 -->
<div class="articles-container">
    <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 3%;">
        <div class="article-wrapper">
            <h1 style="text-align: left; font-size: 24px;">Offres d'emploi à la une</h1>
            <article>
                <div class="article-image-container">
                    <img src="https://img.freepik.com/free-vector/newspaper-concept-illustration_114360-22666.jpg?w=826" alt="Article Image">
                </div>
                <div class="content-container">
                    <h3 class="article-title">Article Title</h3>
                    <p class="article-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                    <button class="read-more-btn">Read More</button>
                </div>
            </article>
        </div>
        <div class="article-wrapper">
            <article>
                <div class="article-image-container">
                    <img src="https://img.freepik.com/free-vector/newspaper-concept-illustration_114360-22666.jpg?w=826" alt="Article Image">
                </div>
                <div class="content-container">
                    <h3 class="article-title">Article Title</h3>
                    <p class="article-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry...</p>
                    <button class="read-more-btn">Read More</button>
                </div>
            </article>
        </div>
    </div>
</div>
