
<mat-dialog-content class="dialog-content">
  <h1 class="dialog-title">Ajouter un role</h1>
  <mat-form-field class="form-field">
    
      <input matInput #roleNameInput id="rolename" placeholder="Creer Un Role" autocomplete="off">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions style="display: flex; justify-content: center; width: 100%;">
  <div class="button-container" style="width: 100%">
  <button mat-flat-button
           color="primary"  
           (click)="addRole(roleNameInput.value)">
           
           Valider
          
  </button>
  <button mat-flat-button color="warn" 
           (click)="closeDialog()">
   
           Annuler
  </button>
</div>
</mat-dialog-actions>


