<mat-dialog-content class="dialog-content">
  <h1 class="dialog-title">Ajouter Un Module</h1>
  <mat-form-field class="form-field">
    <input
      matInput
      #moduleNameInput
      id="modulename"
      placeholder=" Creer Un Module"
      autocomplete="off"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <div class="button-container" style="width: 100%">
    <button
      mat-flat-button
      color="primary"
      (click)="addModule(moduleNameInput.value)"
    >
      Valider
    </button>
    <button mat-flat-button color="warn" (click)="closeDialog()">
      Annuler
    </button>
  </div>

</mat-dialog-actions>
