<form [formGroup]="myForm">
    <mat-dialog-content class="dialog-content">
      <h1 class="dialog-title">Ajouter Une Compétence</h1>
  
      <div class="form-fields-container">
        <mat-form-field class="form-field">
          <input matInput placeholder="Nom" formControlName="name" />
        </mat-form-field>
  
        <mat-radio-group formControlName="skillType">
          <mat-radio-button value="technical">Compétence Technique</mat-radio-button>
          <mat-radio-button value="soft">Compétence Générale</mat-radio-button>
          <mat-radio-button value="tools">Outils Compétence</mat-radio-button>
        </mat-radio-group>
      </div>
    </mat-dialog-content>
  
    <mat-dialog-actions align="center">
      <div class="button-container" style="width: 100%">
        <button mat-flat-button color="primary" (click)="addSkill()">Valider</button>
        <button mat-flat-button color="warn" (click)="closeDialog()">Annuler</button>
      </div>
    </mat-dialog-actions>
  </form>
  